<div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <div class="card">
          <div class="card-header bg-warning">
            <h3>Üye ol</h3>
          </div>
          <div class="card-body bg-secondary">
              <div>
                <p class="text-warning"><b>Siteye kayıt olmak için butona basınız</b></p>
              </div> 
          </div>
          <div class="card-footer bg-warning">
              <input type="submit" value="Kayıt ol" class="btn btn-outline-secondary btn-block" routerLink="/uyegirisi">
          </div>
        </div>
      </div>
    
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header bg-warning">
                  <h3>Öğrenci Listesi</h3>
                </div>
                <div class="card-body bg-secondary">
                    <div>
                      <p class="text-warning"><b>Öğrenci listesine ulaşmak için butona tıklayınız</b></p>
                    </div> 
                </div>
                <div class="card-footer bg-warning">
                    <input type="submit" value="Liste" class="btn btn-outline-secondary btn-block" routerLink="/kayitlar">
                </div>
              </div>
        </div>
    </div>
</div>
  
  